{% extends "layout.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="admin-space">

    <h1>Espace Admin {{ session.user.getFirstName()|escape }}</h1>

    <form action="index.php?route=search-user" method="post">
        <label for="user-search">Chercher un utilisateur (nom, prénom ou email) :</label>
        <input type="search" name="user-search" id="user-search">
        <button type="submit">Go</button>
    </form>

    {% if usersFind is defined %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>ADMIN</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for user in usersFind%}
                    <tr>
                        <td>{{user.getId()}}</td>
                        <td>{{user.getLastName()}}</td>
                        <td>{{user.getFirstName()}}</td>
                        <td>{{user.getEmail()}}</td>
                        <td>{{user.getAdmin()}}</td>
                        <td><button>Modifier</button></td>
                        <td><button>Supprimer<button></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    {% endif %}
</main>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}