{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="paiement-valide">

<h1>Paiement valide</h1>

<div class="tickets-page-form1 form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
<div class="tickets-page-form2 form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>
<div class="tickets-page-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>

<p class="paiement-valide-infos">Pensez à bien télécharger vos billets, si vous n'avez pas de compte ils ne seront plus accessibles.</p>
<p class="paiement-valide-infos">N'hésitez pas à nous contacter si vous avez oublié de télécharger vos billets.</p>

{% for ticket in tickets %}
    <article class="tickets">
        <p class="tickets-name"> {{ticket.getContent()|escape}} </p>
        <p> {{ticket.getTarif()}} </p>
        {% if session.user.getId() is defined %}
            <a href="index.php?route=download&&file={{ticket.getId()}}&&user={{session.user.getId()}}" target="__blank">Mon billet <i class="fa-solid fa-circle-down"></i></a>
        {%else%}
            <a href="index.php?route=download&&file={{ticket.getId()}}&&user={{session.id}}" target="__blank">Mon billet <i class="fa-solid fa-circle-down"></i></a>
        {%endif%}
    </article>
{% endfor %}


</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}