{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="espace-perso">

    <section class="espace-perso-tickets">
        <h1 hidden>Espace personnel</h1>
        <article class="espace-perso-tickets-container">


            <h1>Bonjour {{ session.user.getFirstName()|escape }}</h1>

            <a href="index.php?route=billets&&user-id={{session.user.getId()}}"><button class="ticket-button">Mes billets</button></a>
        </article>
    <div class="espace-perso-tickets-form2 form"><img src="./assets/img/forms/form2.png" alt=""></div>
    <div class="espace-perso-tickets-form1 form"><img src="./assets/img/forms/form1.png" alt=""></div>
</section>

{% if session.user.getAdmin() == "ADMIN" %}
    <section class="espace-perso-admin-space">
        <h1 hidden>Espace administrateur</h1>
        <a href="index.php?route=espace-admin&&admin-id={{session.user.getId()}}"><button class="admin-space-button">Espace admin</button></a>
    </section>
{% endif %}

<section class="espace-perso-programmation">
    <h1 hidden>Artistes et programmation perso</h1>

<article class="espace-perso-programmation-container">
    <h1>Ma programmation</h1>

    <a href="index.php?route=liste-artiste-fav&&user-id={{session.user.getId()}}">
        <button class="artist-fav-button">Mes artistes</button>
    </a>

    <section class="perso-prog-container">

    <h2 hidden>Ma programmation</h2>

    <nav class="programmation-filter">
        <h3 hidden>Filtrer la programmation par jour</h3>
        <ul>
            <a href="index.php?route=programmation-perso&&jour=vendredi">
                <li {% if get.jour == "vendredi" or get.jour is not defined %} class="programmation-filter-active" {% endif %}>
                    Ven. 05
                </li>
            </a>
            <a href="index.php?route=programmation-perso&&jour=samedi">
                <li {% if get.jour == "samedi" %} class="programmation-filter-active" {% endif %}>
                    Sam. 06
                </li>
            </a>
            <a href="index.php?route=programmation-perso&&jour=dimanche">
                <li {% if get.jour == "dimanche" %} class="programmation-filter-active" {% endif %}>
                    Dim. 07
                </li>
            </a>
        </ul>
    </nav>

    <article class="personnal-prog {% if get.jour == "vendredi" %}personnal-prog-ven{% else %} personnal-prog-other {% endif %}">
    <h3 hidden>Planning personnel</h3>
        {% if get.jour == "vendredi" %}
            {% for i in 18..23 %}
            <div class="personnal-prog-row">
                <p class="personnal-prog-hour">{{i}}h</p>
                {% for artist in artists %}
                    {% if artist.getHourToString() == i %}
                    <article class="personnal-prog-artist">
                        <h4 hidden>Artiste</h4>
                        <p class="personnal-prog-artist-name">{{artist.getName()}}</p>
                        <aside>
                            <img src="{{artist.getPicture()}}" alt="">
                        </aside>
                    </article>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <p class="personnal-prog-hour">00h</p>
        {% elseif get.jour == "samedi" or get.jour == "dimanche" %}
            {% for i in 14..23 %}
            <div class="personnal-prog-row">
                <p class="personnal-prog-hour">{{i}}h</p>
                {% for artist in artists %}
                    {% if artist.getHourToString() == i %}
                        <article class="personnal-prog-artist">
                        <h4 hidden>Artiste</h4>
                        <p class="personnal-prog-artist-name">{{artist.getName()}}</p>
                        <aside>
                            <img src="{{artist.getPicture()}}" alt="">
                        </aside>
                    </article>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
            <p class="personnal-prog-hour">00h</p>
        {% endif %}
    </article>
    </section>
</article>

    <div class="espace-perso-programmation-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>
    <div class="espace-perso-programmation-form1 form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
    <div class="espace-perso-programmation-form2 form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>
</section>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}