{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="programmation-page">

<h1>La programmation</h1>

<nav class="programmation-filter">
    <ul>
        <a href="index.php?route=programmation">
            <li {% if get.jour is not defined %} class="programmation-filter-active" {% endif %}>
                Tout
            </li>
        </a>
        <a href="index.php?route=programmation&&jour=vendredi">
            <li {% if get.jour == "vendredi" %} class="programmation-filter-active" {% endif %}>
                Ven. 05
            </li>
        </a>
        <a href="index.php?route=programmation&&jour=samedi">
            <li {% if get.jour == "samedi" %} class="programmation-filter-active" {% endif %}>
                Sam. 06
            </li>
        </a>
        <a href="index.php?route=programmation&&jour=dimanche">
            <li {% if get.jour == "dimanche" %} class="programmation-filter-active" {% endif %}>
                Dim. 07
            </li>
        </a>
    </ul>
</nav>

{% for artist in artists %}
<article class="artist-card">
<a href="index.php?route=fiche-artiste&&artiste={{artist.getName()}}">
<div class="artist-card-image {% if artist.getName() == "JeanneTo" or artist.getName() == "Badflowers" or artist.getName() == "Ziak"%} artist-card-image-top {% endif %}"><img src="{{artist.getPicture()}}" alt=""></div>
<p class="artist-card-name">{{artist.getName()}}</p>
<p class="artist-card-day">{{artist.getDayToString()}}</p>
</a>
{% if session.user is defined %}
<form action="index.php?route=liste-artiste" method="POST">
    <input type="hidden" name="artist" id="artist" value="{{artist.getId()}}">
    {% set isFavorite = false %}
    {% for favoriteArtistId in favoriteArtistsId %}
        {% if artist.getId() == favoriteArtistId.artist_id %}
            {% set isFavorite = true %}
        {% endif %}
    {% endfor %}
    {% if isFavorite %}
        <button type="submit">Retirer de la liste</button>
    {% else %}
        <button type="submit">Ajouter à la liste</button>
    {% endif %}
</form>
{% endif %}
</article>
{% endfor %}

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}