{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="espace-perso">

<section class="espace-perso-tickets">

    <h1>Bonjour {{ session.user.getFirstName()|escape }}</h1>

    <div class="espace-perso-tickets-form2 form"><img src="./assets/img/forms/form2.png" alt=""></div>
    <div class="espace-perso-tickets-form1 form"><img src="./assets/img/forms/form1.png" alt=""></div>

    <a href="index.php?route=billets&&user-id={{session.user.getId()}}"><button class="ticket-button">Mes billets</button></a>
</section>

<section class="espace-perso-programmation">
    <h1>Ma programmation</h1>

    <div class="espace-perso-programmation-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>
    <div class="espace-perso-programmation-form1 form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
    <div class="espace-perso-programmation-form2 form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>

    <a href="index.php?route=liste-artiste-fav&&user-id={{session.user.getId()}}">
        <button class="artist-fav-button">Mes artistes</button>
    </a>

    <nav class="programmation-filter">
        <ul>
            <a href="index.php?route=programmation-perso&&jour=vendredi">
                <li {% if get.jour == "vendredi" or get.jour is not defined %} class="programmation-filter-active" {% endif %}>
                    Ven. 05
                </li>
            </a>
            <a href="index.php?route=programmation-perso&&jour=samedi">
                <li {% if get.jour == "samedi" %} class="programmation-filter-active" {% endif %}>
                    Sam. 06
                </li>
            </a>
            <a href="index.php?route=programmation-perso&&jour=dimanche">
                <li {% if get.jour == "dimanche" %} class="programmation-filter-active" {% endif %}>
                    Dim. 07
                </li>
            </a>
        </ul>
    </nav>

    <article class="personnal-prog {% if get.jour == "vendredi" %}personnal-prog-ven{% else %} personnal-prog-other {% endif %}">
        {% if get.jour == "vendredi" %}
            {% for i in 18..23 %}
            <div class="personnal-prog-row">
                <p class="personnal-prog-hour">{{i}}h</p>
                {% for artist in artists %}
                    {% if artist.getHourToString() == i %}
                    <article class="personnal-prog-artist">
                        <p class="personnal-prog-artist-name">{{artist.getName()}}</p>
                        <aside class="{% if artist.getName() == "JeanneTo"%} personnal-prog-image-top {% endif %}">
                            <img src="{{artist.getPicture()}}" alt="">
                        </aside>
                    </article>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <p class="personnal-prog-hour">00h</p>
        {% elseif get.jour == "samedi" or get.jour == "dimanche" %}
            {% for i in 14..23 %}
            <div class="personnal-prog-row">
                <p class="personnal-prog-hour">{{i}}h</p>
                {% for artist in artists %}
                    {% if artist.getHourToString() == i %}
                        <article class="personnal-prog-artist">
                        <p class="personnal-prog-artist-name">{{artist.getName()}}</p>
                        <aside>
                            <img src="{{artist.getPicture()}}" alt="">
                        </aside>
                    </article>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
            <p class="personnal-prog-hour">00h</p>
        {% endif %}
</article>

</section>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}