{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="espace-perso">

<section class="espace-perso-tickets">

    <h1>Bonjour {{ session.user.getFirstName()|escape }}</h1>

    <div class="espace-perso-tickets-form2 form"><img src="./assets/img/forms/form2.png" alt=""></div>
    <div class="espace-perso-tickets-form1 form"><img src="./assets/img/forms/form1.png" alt=""></div>

    <a href="index.php?route=billets&&user-id={{session.user.getId()}}"><button class="ticket-button">Mes billets</button></a>
</section>

<section class="espace-perso-programmation">
    <h1>Ma programmation</h1>
    <a href="index.php?route=liste-artiste-fav&&user-id={{session.user.getId()}}">
        <button class="artist-fav-button">Mes artistes</button>
    </a>

    <nav class="programmation-filter">
        <ul>
            <a href="index.php?route=programmation-perso&&jour=vendredi">
                <li>Ven. 05</li>
            </a>
            <a href="index.php?route=programmation-perso&&jour=samedi">
                <li>Sam. 06</li>
            </a>
            <a href="index.php?route=programmation-perso&&jour=dimanche">
                <li>Dim. 07</li>
            </a>
        </ul>
    </nav>

    <article class="personnal-prog">
        {% if get.jour == "vendredi" %}
            {% for i in 18..23 %}
                <p>{{i}}h</p>
                {% for artist in artists %}
                    {% if artist.getHourToString() == i %}
                        <p>{{artist.getName()}}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <p>00h</p>
        {% elseif get.jour == "samedi" or get.jour == "dimanche" %}
            {% for i in 14..23 %}
                <p>{{i}}h</p>
                {% for artist in artists %}
                    {% if artist.getHourToString() == i %}
                        <p>{{artist.getName()}}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <p>00h</p>
        {% endif %}
</article>

</section>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}