{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="programmation-page" id="top-programmation-page">

    <section class="programmation-page-container">

        <h1>La programmation</h1>

        <nav class="programmation-filter">
        <h2 hidden>Filtre programmation par jours</h2>
            <ul>
                <a href="index.php?route=programmation">
                    <li {% if get.jour is not defined %} class="programmation-filter-active" {% endif %}>
                        Tout
                    </li>
                </a>
                <a href="index.php?route=programmation&&jour=vendredi">
                    <li {% if get.jour == "vendredi" %} class="programmation-filter-active" {% endif %}>
                        Ven. 05
                    </li>
                </a>
                <a href="index.php?route=programmation&&jour=samedi">
                    <li {% if get.jour == "samedi" %} class="programmation-filter-active" {% endif %}>
                        Sam. 06
                    </li>
                </a>
                <a href="index.php?route=programmation&&jour=dimanche">
                    <li {% if get.jour == "dimanche" %} class="programmation-filter-active" {% endif %}>
                        Dim. 07
                    </li>
                </a>
            </ul>
        </nav>

        <section class="programmation-artists-container">
            <h2 hidden>Les artistes programmé-e-s</h2>
            {% for artist in artists %}
            <article class="artist-card rotate{{random(1,2)}}">
                <h3 hidden>Carte d'artiste</h3>
                <a href="index.php?route=fiche-artiste&&artiste={{artist.getName()}}">
                <aside class="artist-card-image {% if artist.getName() == "Badflowers" or artist.getName() == "Ziak"%} artist-card-image-top {% endif %}"><img src="{{artist.getPicture()}}" alt=""></aside>
                <p class="artist-card-name">{{artist.getName()}}</p>
                <p class="artist-card-day">{{artist.getDayToString()}}</p>
                </a>
                {% if session.user is defined %}
                <form action="index.php?route=liste-artiste" method="POST">
                    <input type="hidden" name="artist" id="artist" value="{{artist.getId()}}">
                    {% set isFavorite = false %}
                    {% for favoriteArtistId in favoriteArtistsId %}
                        {% if artist.getId() == favoriteArtistId.artist_id %}
                            {% set isFavorite = true %}
                        {% endif %}
                    {% endfor %}
                    {% if isFavorite %}
                        <button type="submit">Retirer de la liste</button>
                    {% else %}
                        <button type="submit">Ajouter à la liste</button>
                    {% endif %}
                </form>
                {% endif %}
            </article>
            {% endfor %}
        </section>
        <button class="scroll-top"><a href="#top-programmation-page"><i class="fa-solid fa-arrow-up"></i></a></button>
    </section>
    <div class="programmation-page-form2a form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>
    <div class="programmation-page-form1 form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
    <div class="programmation-page-form2b form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>
    <div class="programmation-page-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>
</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}