{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="tickets-page">

<h1>Vos billets</h1>

{% for ticket in tickets %}
<p> {{ticket.getContent()|escape}} </p>
<p> {{ticket.getTarif()}} </p>
<a href="index.php?route=download&&file={{ticket.getId()}}&&user={{session.user.getId()}}" target="__blank">Mon billet</a>
{% endfor %}

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}