{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="tickets-page">

<h1>Vos billets</h1>

{% for ticket in tickets %}
<p> {{ticket.getContent()|escape}} </p>
<p> {{ticket.getTarif()}} </p>
<img src={{ticket.getQr()}} alt="qrcode pour le billet" />
{% endfor %}

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}