{% extends "layout.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="tickets-page">

<h1>Vos billets</h1>

{% for ticket in tickets %}
    <article class="tickets">
        <h2 hidden>Billet</h2>
        <p class="tickets-name"> {{ticket.getContent()|escape}} </p>
        <p> {{ticket.getTarif()}} </p>
        <a href="index.php?route=download&&file={{ticket.getId()}}&&user={{session.user.getId()}}" target="__blank">Mon billet <i class="fa-solid fa-circle-down"></i></a>
    </article>
{% endfor %}

<div class="tickets-page-form1 form"><img src="./assets/img/forms/form1-yellow.png" alt=""></div>
<div class="tickets-page-form2 form"><img src="./assets/img/forms/form2-yellow.png" alt=""></div>
<div class="tickets-page-form3 form"><img src="./assets/img/forms/form3-yellow.png" alt=""></div>

</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}